[submodule "modules/common"]
	path = modules/common
	url = https://github.com/noCompileTimes/common-module.git
[submodule "modules/graphics"]
    path = modules/graphics
    url = https://github.com/noCompileTimes/graphics-module.git
[submodule "modules/platforms"]
    path = modules/platforms
    url = https://github.com/noCompileTimes/platforms-module.git
[submodule "modules/resources"]
    path = modules/resources
    url = https://github.com/noCompileTimes/resources-module.git
[submodule "modules/tools"]
	path = modules/tools
	url = https://github.com/noCompileTimes/tools-module.git